<div class="flex justify-center items-center h-screen">
  <div class="p-5 shadow-2xl rounded-md bg-white">
    <div class="flex justify-between items-center mb-4">
      <div>
        <h3 class="text-2xl font-r text-gray-600">Inicio de Sesión</h3>
      </div>
      <div class="ml-10">
        <img class="h-12" src="../../../assets/images/logo_mef.jpg" alt="Ministerio de Economía y Finanzas">
      </div>
    </div>
    <div class="mb-3">
      <p class="text-gray-600 text-xs">Ingrese su usuario y clave para ingresar</p>
    </div>

    <form [formGroup]="loginForm">
      <input formControlName="user"
              [ngClass]="{ 'invalid-input': user.errors?.required && user.touched }"
              class="mb-3" 
              type="text" 
              placeholder="Nombre de usuario">
      <input formControlName="password"
              [ngClass]="{ 'invalid-input': password.errors?.required && password.touched }"
              type="password" 
              placeholder="Contraseña">
    </form>

    <hr class="mt-3 border-gray-100">

    <div class="flex justify-between items-center mb-4 mt-3">
      <div>
        <p (click)="openModal('register-modal')" class="text-sm text-gray-500 cursor-pointer hover:text-blue-400">¿Todavía no tienes una cuenta?</p>
      </div>
      <div>
        <button (click)="submit()" [disabled]="!loginForm.valid" class="py-1 px-4 bg-blue-800 rounded text-white text-sm" type="button">
          Ingresar
        </button>
      </div>
    </div>

    <hr class="mt-3 border-gray-100">


  </div>
</div>

<app-register-modal id="register-modal"></app-register-modal>
