/* MODAL STYLES
-------------------------------*/
app-modal {
  /* Ocultos por defecto */

  display: none;
}
app-modal .app-modal {
  /* modal container fixed across whole screen */
  @apply rounded-md;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 200ms ease-out;
  animation: modalFadeIn 200ms ease-out;
  /* z-index must be higher than .app-modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}
app-modal .app-modal .app-modal-body {
  @apply rounded-md;
  @apply p-2;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 2% 20%;
}
app-modal .app-modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .app-modal and above everything else  */

  z-index: 900;
}
body.app-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */

  overflow: hidden;
}

@keyframes modalFadeIn {
  from {opacity: 0; transform: scale(0.7);}
  to {opacity: 1; transform: scale(1);}
}
