/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Raleway;
    src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: rgb(221, 221, 221);
    border-radius: 4px;
}

input {
    @apply border;
    @apply p-2;
    @apply w-full;
    @apply rounded;
    @apply transition-all;
    @apply duration-200;
    @apply ease-out;
}

input:hover {
    @apply shadow-inner;
    @apply shadow-md;
}

input:focus {
    @apply outline-none;
}

select {
    @apply rounded-md;
    @apply leading-tight;
    @apply p-2;
}

select:focus {
    @apply outline-none;
}

.font-r {
    font-family: 'Raleway';
}

button:disabled {
    @apply opacity-75;
    @apply cursor-not-allowed;
}

.close-modal-button {
    @apply h-4;
    @apply w-4;
    @apply transition-all;
    @apply duration-300;
    @apply ease-out;
    @apply cursor-pointer;
}

.close-modal-button:hover {
    transform: rotate(90deg);
}

.custom-label input:checked + svg {
    display: block !important;
}

.invalid-input {
    @apply shadow-inner;
    @apply border-2;
    @apply border-red-400;
}
