<app-modal id="register-modal">
  <div class="flex flex-row justify-between items-center px-4 py-2 bg-green-200 rounded-md">
    <p class="font-r">Registro de Nuevo Usuario</p>
    <span (click)="closeModal('register-modal')" class="close-modal-button">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="1rem" y="1rem"
        viewBox="0 0 512 512" xml:space="preserve">
        <path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
                L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
                c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
                l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
                L284.286,256.002z" />
      </svg>
    </span>
  </div>

  <div class="p-8 bg-white">
    <div class="p-8 bg-gray-100 rounded-md">
      <div class="border bg-gray-200 w-100-p text-xs p-1">
        <p>Ingrese sus Datos Personales</p>
      </div>

      <div>
        <form [formGroup]="registerForm" class="grid grid-cols-12 col-gap-4 text-sm mt-3">
          <label class="col-span-12 grid grid-cols-12 mt-4">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Persona:</span>
            </div>
            <select formControlName="userType" class="col-span-4">
              <option value="natural">Natural</option>
              <option value="juridica">Jurídica</option>
            </select>
          </label>

          <label class="col-span-12 grid grid-cols-12 mt-4">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>DNI:</span>
            </div>
            <input formControlName="identityDocumentCode"
              [ngClass]="{ 'invalid-input': identityDocumentCode.errors?.required && identityDocumentCode.touched }"
              class="col-span-4" type="text" name="nivel">
            <div class="col-span-2 ml-3 flex items-center">
              <button [disabled]="identityDocumentCode.errors" (click)="searchUserData(identityDocumentCode.value)"
                type="button" class="py-1 px-4 bg-green-500 rounded text-white text-sm">Buscar</button>
            </div>
          </label>
          <div *ngIf="identityDocumentCode.errors?.required && identityDocumentCode.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>

          <label class="col-span-12 grid grid-cols-12 mt-4" for="paternal">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Apellido Paterno:</span>
            </div>
            <input formControlName="paternal"
              [ngClass]="{ 'invalid-input': paternal.errors?.required && paternal.touched }" class="col-span-6"
              type="text" name="paternal">
          </label>
          <div *ngIf="paternal.errors?.required && paternal.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>

          <label class="col-span-12 grid grid-cols-12 mt-4" for="maternal">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Apellido Materno:</span>
            </div>
            <input formControlName="maternal"
              [ngClass]="{ 'invalid-input': maternal.errors?.required && maternal.touched }" class="col-span-6"
              type="text" name="maternal">
          </label>
          <div *ngIf="maternal.errors?.required && maternal.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>

          <label class="col-span-12 grid grid grid-cols-12 mt-4" for="name">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Nombres:</span>
            </div>
            <input formControlName="name" [ngClass]="{ 'invalid-input': name.errors?.required && name.touched }"
              class="col-span-6" type="text" name="name">
          </label>
          <div *ngIf="name.errors?.required && name.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>

          <label *ngIf="showExtraFields" class="col-span-12 grid grid-cols-12 mt-4" for="ruc">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>RUC:</span>
            </div>
            <input formControlName="ruc" [ngClass]="{ 'invalid-input': ruc.errors?.required && ruc.touched }"
              class="col-span-6" type="text" name="ruc">
          </label>
          <div *ngIf="showExtraFields" class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <div *ngIf="ruc.errors?.required && ruc.touched">
              <span>Campo Requerido</span>
            </div>
          </div>

          <label *ngIf="showExtraFields" class="col-span-12 grid grid-cols-12 mt-4" for="companyName">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Razón Social:</span>
            </div>
            <input formControlName="companyName"
              [ngClass]="{ 'invalid-input': companyName.errors?.required && companyName.touched }" class="col-span-6"
              type="text" name="companyName">
          </label>
          <div *ngIf="showExtraFields" class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <div *ngIf="companyName.errors?.required && companyName.touched">
              <span>Campo Requerido</span>
            </div>
          </div>

          <label class="col-span-12 grid grid grid-cols-12 mt-4" for="mobile">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Celular:</span>
            </div>
            <input formControlName="mobile" [ngClass]="{ 'invalid-input': mobile.errors?.required && mobile.touched }"
              class="col-span-4" type="text" name="mobile">
          </label>
          <div *ngIf="mobile.errors?.required && mobile.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>

          <label class="col-span-12 grid grid grid-cols-12 mt-4" for="phone">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Teléfono (casa/oficina):</span>
            </div>
            <input formControlName="phone" [ngClass]="{ 'invalid-input': phone.errors?.required && phone.touched }"
              class="col-span-4" type="text" name="phone">
          </label>
          <div *ngIf="phone.errors?.required && phone.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>

          <label class="col-span-12 grid grid grid-cols-12 mt-4" for="mail">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Correo:</span>
            </div>
            <input formControlName="mail" [ngClass]="{ 'invalid-input': mail.errors && mail.touched }"
              class="col-span-6" type="text" name="mail">
          </label>
          <div *ngIf="mail.errors?.required && mail.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>
          <div *ngIf="mail.errors?.email && mail.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Correo inválido.</span>
          </div>

          <label class="col-span-12 grid grid grid-cols-12 mt-4" for="repeat-mail">
            <div class="col-span-3 flex justify-end items-center pr-4">
              <span>Repetir Correo:</span>
            </div>
            <input formControlName="repeatMail" [ngClass]="{ 'invalid-input': repeatMail.errors && repeatMail.touched }"
              class="col-span-6" type="text" name="repeat-mail">
          </label>
          <div *ngIf="repeatMail.errors?.required && repeatMail.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Campo Requerido</span>
          </div>
          <div *ngIf="repeatMail.errors?.mustMatch && repeatMail.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Los correos no coinciden.</span>
          </div>
          <div *ngIf="repeatMail.errors?.email && repeatMail.touched"
            class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
            <span>Correo inválido.</span>
          </div>
        </form>

      </div>

      <hr class="border-gray-300 my-3">

      <form [formGroup]="registerForm" class="grid grid-cols-12 col-gap-4 text-sm">
        <label class="col-span-12 grid grid grid-cols-12" for="adress">
          <div class="col-span-3 flex justify-end items-center pr-4">
            <span>Dirección:</span>
          </div>
          <input class="col-span-9" formControlName="adress"
            [ngClass]="{ 'invalid-input': adress.errors?.required && adress.touched }" type="text" name="adress">
        </label>
        <div *ngIf="adress.errors?.required && adress.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

        <label class="col-span-12 grid grid-cols-12 mt-4" for="department">
          <div class="col-span-3 flex justify-end items-center pr-4">
            <span>Departamento:</span>
          </div>
          <select class="col-span-6" formControlName="department"
            [ngClass]="{ 'invalid-input': department.errors?.required && department.touched }" name="department">
            <option value="10">Lima</option>
            <option value="20">Piura</option>
          </select>
        </label>
        <div *ngIf="department.errors?.required && department.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

        <label class="col-span-12 grid grid-cols-12 mt-4" for="province">
          <div class="col-span-3 flex justify-end items-center pr-4">
            <span>Provincia:</span>
          </div>
          <select class="col-span-6" formControlName="province"
            [ngClass]="{ 'invalid-input': province.errors?.required && province.touched }" name="province">
            <option value="11">Lima</option>
            <option value="21">Piura</option>
          </select>
        </label>
        <div *ngIf="province.errors?.required && province.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

        <label class="col-span-12 grid grid-cols-12 mt-4" for="district">
          <div class="col-span-3 flex justify-end items-center pr-4">
            <span>Distrito:</span>
          </div>
          <select class="col-span-6" formControlName="district"
            [ngClass]="{ 'invalid-input': district.errors?.required && district.touched }" name="district">
            <option value="31">SMP</option>
            <option value="41">Los Olivos</option>
          </select>
        </label>
        <div *ngIf="district.errors?.required && district.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

      </form>

      <div class="border bg-gray-200 w-100-p text-xs p-1 my-4">
        <p>Por medidas de seguridad debe responder estas preguntas para poder obtener su Usuario y Contraseña
        </p>
      </div>

      <form [formGroup]="registerForm" class="grid grid-cols-12 col-gap-4 text-sm">
        <label class="col-span-12 grid grid-cols-12" for="birthday">
          <div class="col-span-3 flex justify-end items-center pr-4 text-right">
            <span>Fecha de nacimiento (dd/mm/aaaa):</span>
          </div>
          <input class="col-span-4" formControlName="birthday"
            [ngClass]="{ 'invalid-input': birthday.errors?.required && birthday.touched }" type="date" name="birthday">
        </label>
        <div *ngIf="birthday.errors?.required && birthday.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

        <label class="col-span-12 grid grid grid-cols-12 mt-4" for="verifier-code">
          <div class="col-span-3 flex justify-end items-center pr-4">
            <span>Código verificador del DNI:</span>
          </div>
          <div class="col-span-3">
            <input type="text" formControlName="verifierCode"
              [ngClass]="{ 'invalid-input': verifierCode.errors?.required && verifierCode.touched }"
              name="verifier-code">
          </div>
          <div class="col-span-6 text-center flex justify-center items-center">
            <p class="text-xs text-gray-500 cursor-pointer hover:text-blue-400">¿Dónde se encuentra mi
              código verificadoren el DNI?</p>
          </div>
        </label>
        <div *ngIf="verifierCode.errors?.required && verifierCode.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

        <label class="col-span-12 grid grid grid-cols-12 mt-4" for="ubigeo-code">
          <div class="col-span-3 flex justify-end items-center pr-4">
            <span>Código de UBIGEO del DNI:</span>
          </div>
          <div class="col-span-3">
            <input type="text" formControlName="ubigeoCode"
              [ngClass]="{ 'invalid-input': ubigeoCode.errors?.required && ubigeoCode.touched }" name="ubigeo-code">
          </div>
          <div class="col-span-6 text-center flex justify-center items-center">
            <p class="text-xs text-gray-500 cursor-pointer hover:text-blue-400">¿Dónde se encuentra mi
              código de UBIGEO en el DNI?</p>
          </div>
        </label>
        <div *ngIf="ubigeoCode.errors?.required && ubigeoCode.touched"
          class="col-span-12 col-start-4 col-end-12 text-red-400 flex items-start">
          <span>Campo Requerido</span>
        </div>

        <label class="col-span-12 grid grid-cols-12 mt-4" for="attached-document">
          <div class="col-span-3 text-right pr-4 flex items-center">
            <span>Adjuntar archivo DNI escaneado:</span>
          </div>
          <input class="col-span-9" 
                  type="file" 
                  (change)="handleFileInput($event.target.files)" 
                  name="attached-document" 
                  id="attached-document">
        </label>
      </form>

      <div class="border bg-gray-200 w-100-p text-xs p-1 my-4">
        <p>Términos y Condiciones</p>
      </div>

      <div class="grid grid-cols-12 col-gap-4 text-sm mb-4">
        <textarea class="col-span-12 p-2 select-none" readonly [value]="terms" id="temrs" rows="5"></textarea>
      </div>

      <form [formGroup]="registerForm">

        <label class="custom-label flex mb-3">
          <div class="bg-white shadow w-6 h-6 p-1 flex justify-center items-center mr-2">
            <input type="checkbox" class="hidden" formControlName="agreeTerms" [checked]="agreeTerms?.value">
            <svg class="hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 172 172">
              <g fill="none" stroke-width="none" stroke-miterlimit="10" font-family="none" font-weight="none"
                font-size="none" text-anchor="none" style="mix-blend-mode:normal">
                <path d="M0 172V0h172v172z" />
                <path d="M145.433 37.933L64.5 118.8658 33.7337 88.0996l-10.134 10.1341L64.5 139.1341l91.067-91.067z"
                  fill="currentColor" stroke-width="1" />
              </g>
            </svg>
          </div>
          <span class="select-none text-blue-400"> He leído y acepto los términos y condiciones</span>
        </label>

        <div class="border bg-gray-200 w-100-p text-xs p-1">
          <p>Declaración Jurada</p>
        </div>

        <label class="custom-label flex mt-3">
          <div class="bg-white shadow w-6 h-6 p-1 flex justify-center items-center mr-2">
            <input type="checkbox" class="hidden" formControlName="underOath" [checked]="underOath?.value">
            <svg class="hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 172 172">
              <g fill="none" stroke-width="none" stroke-miterlimit="10" font-family="none" font-weight="none"
                font-size="none" text-anchor="none" style="mix-blend-mode:normal">
                <path d="M0 172V0h172v172z" />
                <path d="M145.433 37.933L64.5 118.8658 33.7337 88.0996l-10.134 10.1341L64.5 139.1341l91.067-91.067z"
                  fill="currentColor" stroke-width="1" />
              </g>
            </svg>
          </div>
          <span class="select-none text-blue-400"> Declaro bajo juramento</span>
        </label>

        <div class="text-sm text-gray-600 my-3 text-justify">
          <p>Que los datos consignados en la presente solicitud responden a la verdad. En caso de resultar
            falsa la información que proporciono, me sujeto a los alcances de lo establecido en el artículo
            411 del Código Penal, concordante con el artículo 33 del Texto Único Ordenado de la Ley N°
            27444, Ley del Procedimiento Administrativo General.</p>
        </div>
      </form>

      <div class="border bg-gray-200 w-100-p text-xs p-1">
        <p>Escriba el código de seguridad mostrado en la imagen inferior (fondo azul)</p>
      </div>

      <div class="grid grid-cols-12 col-gap-4 text-sm">
        <label class="col-span-12 grid grid-cols-12 mt-4" for="nivel">
          <input class="col-span-3" type="text" name="nivel">
          <div class="ml-6 col-span-3">
            <img class="h-8" src="../../../assets/images/captcha.jpg">
          </div>
          <div>
            <button class="col-span-2 ml-3 py-1 px-4 bg-green-500 rounded text-white text-sm">Refrescar</button>
          </div>
        </label>
      </div>

    </div>
  </div>

  <div class="flex flex-row justify-end items-center p-2 bg-gray-200 rounded-md">
    <button [disabled]="!registerForm.valid || underOath.value === false || agreeTerms.value === false"
      (click)="submit()" class="col-span-2 ml-3 py-1 px-4 bg-yellow-500 rounded text-white text-sm" type="button">
      Enviar
    </button>
    <button (click)="closeModal('register-modal')"
      class="col-span-2 ml-3 py-1 px-4 bg-gray-600 rounded text-white text-sm" type="button">Cerrar</button>
  </div>
</app-modal>